<!-- app/views/calculator/index.html.erb -->

<div class="calculator">
  <h1>Calculator</h1>

  <%= simple_form_for :calculator, url: calc_path do |f| %>
    <div class="input-group">
      <%= f.input :operator, as: :select, collection: ['+', '-', '*', '/'], prompt: 'Select an operator', input_html: { class: 'operator-select' } %>
    </div>

    <% (1..10).each do |i| %>
      <div class="input-group">
        <%= f.input "arguments[]", label: "Value #{i}", input_html: { id: "value#{i}", class: 'value-input' } %>
      </div>
    <% end %>

    <div class="input-group">
      <%= f.button :submit, "Calculate", class: 'calculate-button' %>
    </div>
  <% end %>

  <% if @result.present? %>
    <div class="result">
      <h2>Result:</h2>
      <span class="result-value"><%= @result %></span>
    </div>
  <% end %>
</div>
